fieldset.scheduler-border {
    border: 1px solid rgba(0, 0, 0, 0.111) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
}

legend.scheduler-border {
    float: none !important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto !important;
    padding: 0 10px !important;
    border-bottom: none !important;
    color: rgba(3, 3, 77, 0.753);
}

.card-header {
    background-color: #e9ecef !important;
}